:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
}

body {
  background-color: #fff;
  color: #212121;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

h1 {
  font-size: 44px;
  font-weight: 900;
}

a {
  text-decoration: none;
}

/* Header */

/* logo */
.logo {
  font-family: Raleway, sans-serif;

  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.accent {
  color: var(--primary-text-color);
}

/* Site anv */
.link {
  color: var(--primary-text-color);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}
/* Hero */

.button {
  color: var(--white-color);
  background-color: var(--accent-color);
  border-color: transparent;

  font-size: 16px;
}

/* Main */

.section {
  font-size: 14px;
}
